@import "../variables.modules";

nav {
  transition: all 400ms;
  z-index: 1;
}

.dark {
  background-color: $dark;
}


.light {
  background-color: $white;
}

.active {
  border-bottom: 5px solid;
  border-image-slice: 1;
}

li {
  transition: $transition;

  &:hover {
    transform: translateY(-3px);
    transition: $transition;
  }
}

.link {
  color: black; // Set initial link color to black

  &:hover {
    color: #fb6464; // Change color on hover
  }
  &:active, &:focus {
    color: #fb6464; // Change color when the link is activated or focused
  }
}